version: '3.9'

services:
  mongodb:
    container_name: no-smoking-bot
    image: mongo:7
    restart: always
    ports:
      - 27017:27017
      - 27018:27018
    environment:
      MONGO_INITDB_ROOT_USERNAME: log1n
      MONGO_INITDB_ROOT_PASSWORD: pa55word
      MONGO_INITDB_DATABASE: tgbot
    volumes:
      - ./docker.cache:/docker-entrypoint-initdb.d/mongo-init.js:ro

